@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.m-5 {
  margin: 5%;
}
.my-5 {
  margin: 5%;
}

.p-25 {
    padding: 25px;
}
.py-25 {
  padding: 25px;
}
