table{
  width: 80%;
  margin: auto;
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-width: 0;
    width:30%;
  }
}
.title{
  h3{
    background: #007d8f;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 19px;
    padding: 15px;
  }
}
